.pagesWrapper {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 30%;
}

.btn {
    border: none;
    font: inherit;
    width: 25px;
    height: 25px;
    color: #fff;
    background-color: gray;
    cursor: pointer;
}

.activePage {
    border: none;
    font: inherit;
    width: 25px;
    height: 25px;
    background-color: #1c1b1b;
    color: #fff;
    cursor: pointer;
}